{% extends "base_generic.html" %}

{% block content %}
  <h1>Package List</h1>
  {% if package_list %}

  <table class="table table-striped table-bordered">
    <tr>

      <th>Package ID</th>
      <th>Destination</th>
      <th>Package Status</th>

    </tr>
    {% for package in package_list %}
      <tr>
        <th><strong><a href="{{ package.get_absolute_url }}">{{ package.package_id }}</a></strong></th>
        <th>({{package.destination_x}}, {{package.destination_y}})</th>
        <th>{{ package.get_package_status_display}}</th>
      </tr>


    {% endfor %}

  {% else %}
    <p>There are no package.</p>
  {% endif %}



{% endblock %}