{% extends "base_generic.html" %}

{% block content %}

{% if  package.package_status is not 0 %}
    {% if package.package_status is 1 %}
    <p><strong>Unable to change Destination, package has been shipped.</strong></p>
    <th><strong><a href="{{ package.get_absolute_url }}">Go Back</a></strong></th>
    {% endif %}
    {% if package.package_status is 2 %}
    <p><strong>Unable to change Destination, package has been delivered.</strong></p>
    <th><strong><a href="{{ package.get_absolute_url }}">Go Back</a></strong></th>
    {% endif %}

  {% else %}
    <form action="" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
    </form>
  {% endif %}
{% endblock %}